<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <!--Give product a unique ID per platform-->
  <?if $(var.Platform)=x64?>
  <?define ProductCode = "{9B34F987-29E8-4529-97F7-8238E6F8A94F}"?>
  <?else?>
  <?define ProductCode = "{4FEC645A-0277-440C-91AC-20CDB0DB9ABA}"?>
  <?endif?>
  
  <?define UpgradeCode = "{B1D9AB6B-0D1A-42F9-94CE-D128F9EF0BA9}"?>

  <!--Define main product -->
  <Product Id="$(var.ProductCode)" 
           Name="!(loc.ProductName_$(var.Platform))" 
           Language="!(loc.Language)" 
           Version="$(var.BuildVersion)" 
           Manufacturer="!(loc.Company)" 
           UpgradeCode="$(var.UpgradeCode)">
    
    <!--Provide package details-->
		<Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine" 
             Platform="$(var.Platform)"
             Manufacturer="!(loc.Company)"
             Description="!(loc.Description)"
             Keywords="!(loc.Keywords)"
             Comments="!(loc.Comments)"
             Languages="!(loc.Language)"/>

    <!--Downgrade error message-->
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />

    <!--Include .cab file into .msi file-->
    <MediaTemplate EmbedCab="yes"/>

    <!--Define main app icon-->
    <Icon Id="icon.ico"
          SourceFile="$(var.ProjectDir)\..\ProTracker\Resources\Images\projekt.ico"/>

    <!--Use the icon.ico for this installer (shows up in Add/remove programs)-->
    <Property Id="ARPPRODUCTICON">icon.ico</Property>
    <!--HelpISupport website (shows in the Add/Remove programs) -->
    <Property Id="ARPURLINFOABOUT">http://www.google.de</Property>

    <!--Create a basic UI for the installer-->
    <UIRef Id="WixUI_Minimal"/>

    <!--Change the installer background images-->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\license.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\Background.bmp"/>
    <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\Banner.bmp"/>

    <!--Define components, shortcuts, files etc... for intaller-->
    <Feature Id="ProductFeature"
             Title="ProTracker.Installer"
             Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="PublishedComponents" />
    </Feature>
  </Product>
</Wix>
